.map-to-wkt {
  padding: 1rem;
  .map-to-wkt-btns {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .ant-btn .anticon {
    display: flex;
    justify-content: center;
  }
  .ant-form {
    margin-top: 2rem;
  }
}
